body {
    background-color: rgb(214, 250, 239);
    line-height: 1.6;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 20rem;
}
label{
    display: flex;
    justify-content: space-around;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

input {
    height: 1.5rem;
    border: none;
    border-radius: 3px;
}

button {
    height: 1.4rem;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tarjet {
    margin: 1.5rem;
    max-width: 100rem;
    padding: 1.8rem;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    background-color: rgb(148, 141, 245);
}
